.car-side-menu {
    width: 400px;
    height: calc(100vh - 68px);
    top: 68px;
}

.render-products {
    height: calc(100vh - 144px);
}



.MyOrderInf {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 16px;
    padding: 0px 20px 0px 20px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: var(--text-input-field);
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    align-items: center;
}

.MyOrderInf p:nth-child(1) {
    font-size: 20px;
    color: brown;
    font-weight: bolder;
}

.MyOrderInf p:nth-child(2) {
    font-size: 24px;
    color: black;
    font-weight: bolder;
}


.PrimaryButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0px 4px 14px;
    height: 40px;
    width: 90%;
    border-radius: 8px;
    border: none;
    color: rgb(246, 236, 236);
    font-weight: bolder;
    background-color: blueviolet;
    cursor: pointer;
}

.flex1 {
    flex: 1;
}